@import './markdown.css';
@import url('https://fonts.loli.net/css2?family=Noto+Sans+Mono:wght@400;500;600;700&family=Noto+Sans+SC:wght@400;500;700&display=swap');

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC', sans-serif;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.main_logo {
  font-family: '' !important;
}

.chart {
  height: 400px;
}

#date,#detail {
  @apply from-pink-500 to-violet-500 bg-gradient-to-r bg-clip-text py-1 text-sm font-bold text-transparent
}
